{%extends "base.html"%}
{%block title%}About{%endblock%}

{%block content%}
  <div class="container cotainer-fluid" style="background-color: #e3f2fd; padding: 2rem; margin-top: 2rem;">
    <h1>About Us</h1>
    <div class="container">
      <div class="row">
          <div class="col-md-8 offset-md-2 center-content"> <!-- Center the content -->
              <h1>Legal Document Summarizer</h1>
              <p>Our latest project involves building a Legal Document Summarizer. Using advanced NLP techniques, we aim to extract key information from legal documents to provide concise and informative summaries. Our model utilizes Facebook's BART-large-cnn architecture, which has been fine-tuned specifically for legal text summarization tasks.</p>
            <p>We've meticulously trained and validated our model on various legal datasets, ensuring its accuracy and robustness across different sub-areas of law. The summarization process involves analyzing the input document, identifying crucial details, and generating a coherent summary that captures the essence of the original text.</p>      
              
              <ul>
                  <li>Khyati Gupta</li>
                  <li>Alok Singh</li>
                  <li>Ankit Kumar Singh</li>
                  <li>Priya Chaudhary</li>
              </ul>
          </div>
      </div>
  </div>
  
  </div>
  <div class="container col-12" style="background-color: #e3f2fd; padding: 2rem; margin-top: 2rem;">
    <div class="about_app">
      <h1>About the App</h1>
      <p>This app is a legal text summarizer build with NLP and AI.</p>
    </div>
  </div>
{%endblock%}
